// custom  variable setting 



// COLORS
$color-black: #111;
$color-charcoal: #3a3a3a;
$color-white: #fff;
$color-lt-gray: #e5e5e5;
$topbar-bg: #111;


// font 
$font-russo: "Russo One", sans-serif;
$font-ubuntu: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Global Rounded
@mixin global-custom-radius ($top-left: 5px, $top-right: 5px, $bot-left: 5px, $bot-right: 5px) {
	-webkit-border-radius: $top-left $top-right $bot-left $bot-right;
    border-radius: $top-left $top-right $bot-left $bot-right;
}


// Global Box Shadows
@mixin global-box-shadows ($block-shadows...) {
	-webkit-box-shadow: $block-shadows;
        	box-shadow: $block-shadows;
}

// Global Text Shadows
@mixin global-text-shadows ($horiz: 0px, $vert: 0px, $blur-radius: 0px, $rgba: rgba(0, 0, 0, 1)) {
	text-shadow: $horiz $vert $blur-radius $rgba;
         filter: dropshadow(color=$rgba, offx=$horiz offy=$vert);
}


// Dark Gradient
@mixin filter-gradient ($first-color:333, $second-color:222) {
	background: -moz-linear-gradient(top,  $first-color 0%, $second-color 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first-color), color-stop(100%,$second-color));
	background: -webkit-linear-gradient(top,  $first-color 0%,$second-color 100%);
	background: -o-linear-gradient(top,  $first-color 0%,$second-color 100%);
	background: -ms-linear-gradient(top,  $first-color 0%,$second-color 100%);
	background: linear-gradient(to bottom,  $first-color 0%,$second-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$second-color',GradientType=0 );
}



/* Module framework */
// Transition
%texttransition {	
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
%easetransition {
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
}
